<script>
    import Menu from "./Components/menu.svelte";
    import Content from "./Components/Content.svelte";
    const Title = (element) => {item = element; param = element[0].param; };
    const Item = (el) => {param = el; };
    let data = [
        {
            name: "SECTION1",
            items: [
                { name: "ONE-1", param: "http://placebeard.it/640x480" },
                { name: "ONE-2", param: "http://placebeard.it/640x481" },
                { name: "ONE-3", param: "http://placebeard.it/640x482" },
            ],
        },
        {
            name: "SECTION2",
            items: [
                { name: "TWO-1", param: "http://placeimg.com/640/480/any" },
                { name: "TWO-2", param: "http://placeimg.com/640/481/any" },
                { name: "TWO-3", param: "http://placeimg.com/640/482/any" },
            ],
        },
        {
            name: "SECTION3",
            items: [
                { name: "THREE-1", param: "http://placeimg.com/640/480/any" },
                { name: "THREE-2", param: "http://placeimg.com/640/481/any" },
                { name: "THREE-3", param: "http://placeimg.com/641/481/any" },
            ],
        },
    ];
    let item;
    let param = data[0].items[0].param;
</script>

<div class="app">
    <div class="app-container">
        <div class="app-header">
            <Menu {data} Func={Title} />
        </div>

        <div class="article">
             <div class="left-bar">                 
                {#if item}
                    {#each item as item}
                        <div> 
                            <button on:click={() => Item(item.param)}>
                                {item.name}
                            </button>
                        </div>                    
                    {/each}
                {/if}
            </div> 

            <div class="app-content">
                <Content {param} />
            </div>
        </div>
        <div class="app-footer">
            Экзамен по интернет-технологии 3 курс. ИД-301КИС
        </div>
    </div>
</div>
<style>
    :global(body) {
        height: 99%;
        background-color:cornsilk;
    }
    .left-bar {
    background-color:darksalmon;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display:flex;    
    font-size: 16px;
    }
    .app-footer{
    background-color:darksalmon;
    border: none;
    color:black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display:flex;
    font-size: 16px;
    }    
    button{
        background-color:cornsilk;
        margin: auto;
    }
</style>
