<script>
import { Icon } from "svelte-mui";
import iconPrev from "./iconPrev.svelte";
import iconNext from "./iconNext.svelte";
export let page;
export let pageCount;
export let currentPage;
export let nextPageLink;
export let prevPageLink;
</script>

    <Icon on:click = {()=>page(prevPageLink)}>
        <svelte:component this={iconPrev} />
    </Icon>

{currentPage} / {pageCount}

    <Icon on:click = {()=>page(nextPageLink)}>
        <svelte:component this={iconNext} />
    </Icon>

<style>
    :global(.svg-icon) {
        width: 2em;
        height: 2em;        
        fill:rgb(255, 100, 53);
        cursor: pointer;
    }
</style>
