<script>
import { onMount } from "svelte";
let input;
onMount(() => {
input.focus();
});
</script>

<input bind:this={input} type="search" list="1" />
<datalist id="1">
  <option value="Luke Skywalker" />
  <option value="C-3PO" />
</datalist>
<style>
    
</style>