<script>
    import { onMount } from "svelte"; 
    import Menu from  "./menu.svelte";
    let pageCount = 0;
    let currentPage = 1;
    let nextPageLink;
    let prevPageLink;
    import Search from "./Search.svelte";

    let jdata;
    onMount(async () => {
        //1-й вариант
        const resp = await fetch("https://swapi.dev/api/people");
        jdata = await resp.json();
        pageCount = await Math.ceil(jdata["count"] / jdata.results.length);
        nextPageLink = await jdata["next"];
        prevPageLink = await jdata["previous"];        
        


        //2-й вариант
        // jdata = await fetch("https://swapi.dev/api/people")
        //.then((x) => x.json()
        // );
    });

    let planet;
    function getPlanet(link) {
        console.log("LINK", link);
        const handleClick = async () => {
            planet = await fetch(link).then((x) => x.json());
        };
        handleClick();
    }

	async function nextPrevPage (lnk)
	{        
        console.log(lnk);
		const resp = await fetch(lnk);
        jdata = await resp.json(); 
        nextPageLink = await jdata["next"];
        prevPageLink = await jdata["previous"];   
        currentPage = await lnk.split("=")[1];   
	}
	
</script>

<!-- Раскоментируйте это! <div>{JSON.stringify(jdata, null, "\t")}</div>-->

<div>
    <!-- <Search/> -->
</div>
<div
    style="display:flex; justify-content:center;item-align:stretch;margin:0 auto;"
>
    <div style="background:cornsilk;flex-grow:1; width:50%;">
        <Menu page = {nextPrevPage}
        pageCount = {pageCount}
        currentPage = {currentPage}
        nextPageLink = {nextPageLink}
        prevPageLink = {prevPageLink}/>

        {#if !jdata}
            <p>
                Loading...
            </p>
        {:else}
            {#each jdata.results as m}
                <!--{console.log("jdata", jdata)} -->
                <h6>
                    <!-- {console.log(m)} -->
                    <span
                        on:click={() => getPlanet(m.homeworld)}
                        style="cursor:pointer">{m.name} -- Планета</span                        
                    >
                </h6>
            {/each}
        {/if}
        <Menu page = {nextPrevPage}
        pageCount = {pageCount}
        currentPage = {currentPage}
        nextPageLink = {nextPageLink}
        prevPageLink = {prevPageLink}/>
    </div>
    <div style="background:coral;flex-grow:1; width:50% ;">
        {#await planet}
            <h5>Wait!!!</h5>
        {:then data}
            {#if data}
                <h5>{data.name}</h5>
            {/if}

            <!--{console.log(data)} -->
        {/await}
        
    </div>
</div>

<style>
</style>