<script>
    import { slide } from "svelte/transition";
    export let index;
    export let number;
    export let delFunc;
    export let width = 2;
    let itemOrder = 0;
    let itemFlexGrow = 0;
    let itemFlexShrink = 1;
</script>

<div
    class="item"
    transition:slide
    style="--order:{itemOrder};
           --flex-grow:{itemFlexGrow};
           --flex-shrink:{itemFlexShrink};
           --wdth:{width}%;"
>
    <div class="item-caption" style="--dsp:{width < 5 ? 'none' : 'flex'};
     flex-direction:column;
     align-items: center;">
        {number}
    </div>

    <div class="tooltip">
        <input
            class="itemprop-value"
            type="number"
            bind:value={itemOrder}
            min="0"
            max="10"
        />
        <span class="tooltiptext">order</span>
    </div>
    <div class="tooltip">
        <input
            class="itemprop-value"
            type="number"
            bind:value={itemFlexGrow}
            min="0"
            max="10"
        />
        <span class="tooltiptext">flex-grow</span>
    </div>
    <input
        class="itemprop-value"
        type="number"
        bind:value={itemFlexShrink}
        min="0"
        max="10"
    />
    <div class="del" on:click={() => delFunc(index)}>
        <span>&times;</span>
    </div>
</div>

<style>
    .item {
        order: var(--order);
        flex-grow: var(--flex-grow);
        flex-shrink: var(--flex-shrink);
        background-color: whitesmoke;
        width: var(--wdth);
        padding: 5px;
        margin-left: 0.5%;
        margin-bottom: 0.5%;
        position: relative;
        border-radius: 10px;
        border: 1px solid black;
    }
    .item-caption {
    display: var(--dsp);
    width: 23px;
    height: 20px;
    background:rgba(0, 102, 255, 0.767);
    color: white;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 3px;
    text-align: center;
    border-radius: 50%;
    }

    .itemprop-value {
        display: var(--dsp);
        font-size: 0.85em;
        width: 50px;
        margin: 0;
        padding: 0;
        border: 1px solid silver;
        border-radius: 7px;
    }
    .del {
        color: white;
        position: absolute;
        height: 1em;
        width: 1em;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: end;
        right: 3px;
        top: 3px;
        border-radius: 50%;
        cursor: pointer;
    }
    .tooltip {
        position: relative;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        position: absolute;
        font-size: 0.75em;
        width: 60px;
        bottom: 100%;
        margin-left: -5px;
        background-color: blue;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 3px ;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>

