<script>
	export let widthDef;
	export let setItemWidth;
</script>
  
  <div class = "input">
	<input
	  bind:value={widthDef}
	  on:change="{(v)=>setItemWidth(v)}"
	  type="range"
	  min="0"
	  max="97"
	  step="1"
	/>
  </div>
  
  <style>
	input[type="range"] {
		width: 100%;
	}
	.input{
		width: 280px;
	  	margin: 20px auto;	  
	}
  </style>
  