<script>
    import { onMount } from "svelte";
    
    export let Func;

    export let data;


    onMount(() => {  Func(data[0].items); });
</script>

<div>
    {#each data as item}
        <div> 
            <button on:click={() => Func(item.items)}>{item.name} </button>
        </div>
    {/each}
</div>

<style>
    div{
        background-color:indianred;
        border: none;
        color:darkkhaki;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 16px;
    }
    button{
        background-color:cornsilk;
        margin: auto;
    }
</style>