<script>
    import SelectProp from "./Components/selectPropContainer.svelte";
    import SelectedItem from "./Components/selectedItem.svelte";
    import WidthRange from "./Components/widthRange.svelte";

    let flexProps = [
        { propname: "display", default: "block" },
        { propname: "direction", default: "row" },
        { propname: "wrap", default: "nowrap" },
        { propname: "justify-content", default: "flex-start" },
        { propname: "align-items", default: "align-items" },
        { propname: "align-content", default: "align-content" },
    ];

    let itemWidth = 20;

    function setFlexStyle(event) {
        //Обработчик выбора flex-свойства
        console.log("??", event, event.detail.prop, event.detail.propValue);
        switch (event.detail.prop) {
            case "display":
                selDisplay = event.detail.propValue;
                break;
            case "direction":
                selDirection = event.detail.propValue;
                break;
            case "wrap":
                selWrap = event.detail.propValue;
                break;
            case "justify-content":
                selJustContent = event.detail.propValue;
                break;
            case "align-items":
                selAlignItems = event.detail.propValue;
                break;
            case "align-content":
                selAlignContent = event.detail.propValue;
                break;
            default:
                console.log("No such prop");
        }
    }

    function ifItemCountZero() {
        itemCount -=1;
        if (itemCount == 0) 
        {            
            itemCount += 1;
        }
    }
    //Выбранные значения. Умолч-я берутся из коллекции flexProps (только в 1-й стр.)
    let selDisplay = flexProps.filter((o) => o.propname == "display")[0]
        .default;
    let selDirection = flexProps.filter((o) => o.propname == "direction")[0]
        .default;
    let selJustContent = flexProps.filter(
        (o) => o.propname == "justify-content"
    )[0].default;
    let selWrap = flexProps.filter((o) => o.propname == "wrap")[0].default;
    let selAlignItems = flexProps.filter((o) => o.propname == "align-items")[0]
        .default;
    let selAlignContent = flexProps.filter(
        (o) => o.propname == "align-content"
    )[0].default;

    let itemCount = 3;

    let childs = [];
    function addItem() {
        //     childs.push({number:childs.length+1});
        //     childs=childs;
        //Подробней: https://ru.svelte.dev/tutorial/updating-arrays-and-objects
        childs = [...childs, { number: childs.length + 1 }];
    }
    [...Array(3).keys()].forEach(() => addItem());
    function deleteItem(idx) {//Тоже можно в одну строку
        childs.splice(idx, 1);
        childs = childs; 
    }
    function setItemWidth(e) {
        console.log("itemWidth ", e.target.value);
        itemWidth = e.target.value;
    }
</script>

<!-- Выкладываем combobox'ы -->
{#each flexProps as prp}
    <SelectProp flex_prop={prp} on:selprop={setFlexStyle} />
{/each}

<div>
    <button on:click={addItem}> Добавить дочерний эл-т </button>
</div>
<div> 
    <WidthRange widthDef={itemWidth} {setItemWidth}/>
</div>
<div class="constr-container">
    <!-- контейнер вложенных элементов -->
    <div
        class="field"
        style="--disp:{selDisplay};
               --dir:{selDirection};
               --jcont:{selJustContent};
               --wrap:{selWrap};
               --centr:{selAlignItems};
               --centre:{selAlignContent}"
    >

    {#each childs as child, i}
            <SelectedItem index={i} 
            width={itemWidth}
            number={child.number} 
            delFunc={deleteItem} />
        {/each}
    </div>
</div>

<style>
    .constr-container {
        min-width: 300px;
        max-width: 90%;
        margin: 20px auto;
        padding: 5px;
        border: 1px solid rgb(138, 109, 216);
        border-radius: 15px;
    }
    .field {
        border: 3px solid yellow;
        height: 500px;
        padding: 5px;
        border-radius: 15px;
        /* -flex-переменные- */
        display: var(--disp);
        flex-direction: var(--dir);
        justify-content: var(--jcont);
        flex-wrap: var(--wrap);
        align-items:  var(--centr);
        align-content:  var(--centre);
    }
</style>