<script>
    import SelectProp from "./Components/selectPropContainer.svelte";
    import SelectedItem from "./Components/selectedItem.svelte";
    import WidthRange from "./Components/widthRange.svelte";

    let flexProps = [
        { propname: "display", default: "block" },
        { propname: "direction", default: "row" },
        { propname: "wrap", default: "nowrap" },
        { propname: "justify-content", default: "flex-start" },
        { propname: "align-items", default: "align-items" },
        { propname: "align-content", default: "align-content" },
    ];

    let itemWidth = 20;

    function setFlexStyle(event) {
        //Обработчик выбора flex-свойства
        console.log("??", event, event.detail.prop, event.detail.propValue);
        switch (event.detail.prop) {
            case "display":
                selDisplay = event.detail.propValue;
                break;
            case "direction":
                selDirection = event.detail.propValue;
                break;
            case "wrap":
                selWrap = event.detail.propValue;
                break;
            case "justify-content":
                selJustContent = event.detail.propValue;
                break;
            case "align-items":
                selAlignItems = event.detail.propValue;
                break;
            case "align-content":
                selAlignContent = event.detail.propValue;
                break;
            default:
                console.log("No such prop");
        }
    }

    function ifItemCountZero() {
        itemCount -=1;
        if (itemCount == 0) 
        {            
            itemCount += 1;
        }
    }
    //Выбранные значения. Умолч-я берутся из коллекции flexProps (только в 1-й стр.)
    let selDisplay = flexProps.filter((o) => o.propname == "display")[0]
        .default;
    let selDirection = flexProps.filter((o) => o.propname == "direction")[0]
        .default;
    let selJustContent = flexProps.filter(
        (o) => o.propname == "justify-content"
    )[0].default;
    let selWrap = flexProps.filter((o) => o.propname == "wrap")[0].default;
    let selAlignItems = flexProps.filter((o) => o.propname == "align-items")[0]
        .default;
    let selAlignContent = flexProps.filter(
        (o) => o.propname == "align-content"
    )[0].default;

    let itemCount = 3;

    let childs = [];
    function addItem() {
        //     childs.push({number:childs.length+1});
        //     childs=childs;
        //Подробней: https://ru.svelte.dev/tutorial/updating-arrays-and-objects
        childs = [...childs, { number: childs.length + 1 }];
    }
    [...Array(3).keys()].forEach(() => addItem());
    function deleteItem(idx) {//Тоже можно в одну строку
        childs.splice(idx, 1);
        childs = childs; 
    }
    function setItemWidth(e) {
        console.log("itemWidth ", e.target.value);
        itemWidth = e.target.value;
    }
</script>

<div class="container">
    <div class="top">
      <p>
        FlexBox Generator
      </p>
    </div>
    <div class="main">
      <div class='content'>        
            <div
            class="field"
            style="--disp:{selDisplay};
                   --dir:{selDirection};
                   --jcont:{selJustContent};
                   --wrap:{selWrap};
                   --centr:{selAlignItems};
                   --centre:{selAlignContent}"
        >
    
        {#each childs as child, i}
                <SelectedItem index={i} 
                width={itemWidth}
                number={child.number} 
                delFunc={deleteItem} />
            {/each}
        </div>
      </div>
      <div class='controls'>
            <WidthRange widthDef={itemWidth} {setItemWidth}/>
        <div>
            <button on:click={addItem}> Добавить дочерний элeмент </button>
        </div>
        {#each flexProps as prp}
            <SelectProp flex_prop={prp} on:selprop={setFlexStyle} />
        {/each}
      </div>
    </div>

    <div class="bottom">
    
        <p>
        Дата создания: 
        </p>
        <p>
        26.10.2021
        </p>
    
    </div>
  </div>

<style>
    button {
        display: flex;
        align-content:center;
        margin: 30px;
        border: 2px solid;
        border-radius: 10px;
        background-color: rgb(59, 125, 248);
    }
    .container {
        margin-left: 30px;
        display:flex;
        flex-direction: column;

}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}

.content {
  max-width: 1000px;
  flex-grow: 5;
  background-color: rgb(255, 255, 255);
}

.controls {
  width: 100px;
  background-color: rgb(221, 221, 221);
  border-right: 3px solid black;
  flex-basis:300px;
  overflow:hidden;
}

.top {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 5px;
  text-align: center;
  background-color: rgb(0, 195, 255);
  border: 3px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.bottom {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 5px;
  background-color: rgb(0, 195, 255);
  border: 3px solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.field {
        border-right: 1px solid black;
        border-left: 3px solid black;        
        height: 500px;
        padding: 5px;
        overflow:scroll;
        /* -flex-переменные- */
        display: var(--disp);
        flex-direction: var(--dir);
        justify-content: var(--jcont);
        flex-wrap: var(--wrap);
        align-items:  var(--centr);
        align-content:  var(--centre);
}
</style>