<script>
	//https://svelte-mui.vercel.app/
	import Api from "./Components2/toapi.svelte";
</script>

<main> 
	<p>		
		<Api />
	</p>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		margin: 0 auto;
	}
</style>